.loader-container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.load-more-button{
  color: #fff;
  background-color: #415e9b;
  border-radius: 5px;
  padding: 10px;
  width:100px;
  text-align: center;
  margin: 20px auto;
  font-weight: bold;
  cursor: pointer;
}
